body {
  margin: 0;
  background: linear-gradient(90deg, rgba(248,252,156,1) 25%, rgba(255,181,0,1) 100%);
  font-family: 'Consolas',Monaco, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
